<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wfbos主页</title>
</head>
<body>
    <h1>Hello {{username}}</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <img src="/static?file=doge.gif"/>
    <img src="/static?file=doge1.jpg"/>
    <img src="/static?file=doge2.gif"/>
    <br>
    <br>
    <a href="/todo/index">Todo</a>
    <a href="/weibo/index">Weibo</a>
    <br>
    <br>
    <a href="/admin_password_edit">Change Password</a>
    <br>
    <br>
    <a href="/admin/users">Admin</a>
</body>
</html>